[2016-07-21 20:30] metherul opened #2 "Pokemon flash onto and off of the screen whilst scanning"
The latest build has some issues with the scan function. It finds the Pokemon in the area, adds them to the map, and then clears it. This causes said map to be empty when the scan ends.

Also, the temp text for the password box says "pasword" :D

Anyways, awesome work! I'd be helping if I could, but Imma C# dev.

Cheers

[2016-07-21 21:26] #2 closed

[2016-07-21 23:46] jnovack opened #3 "Time Limits"
Ideas:

* Under 1minute = Transparency 25%
* Under 3mins = Transparency 50%

Each object needs to have it's own counter, and needs to disappear when the counter is up.

I'd PREFER the counter to be auto-countdown underneath the object.  PokeVision set the bar high on that and anything less is uncivilized.

![](http://techraptor.net/wp-content/uploads/2016/07/pokevision-pokemon-go-niantic.jpg)

[2016-07-21 23:48] jnovack opened #4 "Filters"
Ignore options.

I don't need to see [Generic Common Pokemon to my Area], I just need to see the others.  Allow me to select "on/off" for all 151.

[2016-07-21 23:54] Controless opened #5 "Option to cancel scan"
Would be nice if there was an option to cancel the current scan in case you need to adjust the scanning area, etc.

[2016-07-21 23:56] BrianEstrada commented on #3
lol I'll do my best to add this in

[2016-07-21 23:57] BrianEstrada commented on #5
I'll add a cancel scan button!

[2016-07-21 23:58] Controless commented on #5
Thanks a lot!

[2016-07-22 02:23] zanesc opened #6 "Bad login (Servers might be down)"
Just installed v1.2.1 and when i try to sign in i get this error message "Bad login (Servers might be down)". The servers seem to be up and running fine so not sure why. I am running on a Samsung Galaxy S7 on 6.0.1

[2016-07-22 03:08] SansStef opened #7 "Filter on expiration time"
It'd be awesome it you could set a minimum expiration time so that pokemon who are gonna expire under that time limit aren't shown.  I'd hate to see a rare pokemon across town then realize I only have seconds to get to it.

[2016-07-22 06:01] SpiderDice commented on #5
Great idea!

[2016-07-22 06:18] Darkstarlord2 commented on #6
Got the same problem

[2016-07-22 06:58] LitoOsaka commented on #6
Did you two try to login with a google account? I think the app only support PTC account. I try my PTC and it work fine after many fail attempt with my google acc.

[2016-07-22 07:00] zanesc commented on #6
Yup Google account was the issue. Works fine with PTC. Thank you.

[2016-07-22 07:00] #6 closed

[2016-07-22 07:40] MrYadro opened #9 "Hardcoded strings"
You should pull strings out of code so we could translate them.

[2016-07-22 11:57] Tsunamii commented on #4
+1 for this :)
something like a blacklist/whitelist would be cool, or just make a list with all the pokemon each with a checkbox and only the checked ones will be displayed

[2016-07-22 12:00] Tsunamii opened #10 "google login"
Having a google login as an alternative to the ptc login would be really handy since most of the time its only the ptc login that causes the problems.
I don't know if the java api already supports the google login but if it does it shouldn't be too hard to add :)

[2016-07-22 12:24] jnovack commented on #4
Newest version of AHAAAAAA has this.  You may need a refresh of his code-base. it's changed SIGNIFICANTLY.

[2016-07-22 12:29] jnovack opened #11 "Scan Overlay"
Do you get back coordinates for your scanning locations?

Is it possible to add a rectangle with the area it scanned at like 5% transparency so we know what is in our search radius (and whether can shrink or enlarge it for our needs)?

Do I need a 5 Search Radius?  Dunno.  Do I need a 6??

https://developers.google.com/maps/documentation/javascript/shapes#rectangles

[2016-07-22 12:30] guipenedo commented on #11
You do realize you just linked JAVASCRIPT documentation right? JAVA != JAVASCRIPT

[2016-07-22 12:49] Tsunamii opened #12 "material design icon"
tried to get as close to the guidelines as possible: [http://imgur.com/a/hk0YW](url)
in case you want something changed or need specific sizes/dpi settings i can change that in the psd without problem :)

[2016-07-22 14:10] someguy235 opened #13 "Use original app images as map markers"
It would make the map easier to use if the Pokemon markers used the same images as the official app.

[2016-07-22 14:15] pfirpfel opened #14 "Add a license"
Please add a license or state that your proprietary. Knowing where contributors stand legally, makes them far more likely to help you.

Thanks! =)

[2016-07-22 15:48] BrianEstrada commented on #14
Hey you have a good point I went added and added it!

[2016-07-22 15:48] #14 closed

[2016-07-22 15:49] BrianEstrada commented on #12
This is dope! I'll be sure to add this in the next release do you mind if I credit you? (If so what do you want me to credit you under?)

[2016-07-22 15:49] BrianEstrada commented on #11
yeah this is apart of the next release stay tuned tonight :)

[2016-07-22 15:49] #11 closed

[2016-07-22 15:50] jnovack commented on #11
Yep, I realize. Had I found JAVA documentation, I would have linked it.  However, the JAVASCRIPT documentation had visual examples, which I thought were helpful.  Considering that a number of objects are the comparable between the Android JAVA classes and browser JAVASCRIPT classes for Google Maps, I found it helpful.

[2016-07-22 15:50] BrianEstrada commented on #10
I'll be adding it over the weekend :)

[2016-07-22 15:51] BrianEstrada commented on #9
Will do, thank you for the suggestion :+1:

[2016-07-22 15:51] #9 closed

[2016-07-22 16:26] SpiderDice opened #16 "Scan Radius"
What is the scan radius? Can this be changed by the user? My expectation as a user is that when I zoom in or out to an area, the 'Scan' function will show me all of the Pokémon within the map area.

See screenshots (http://imgur.com/a/ooxGo)

Also, it seems like not all of the Pokémonare showing up. If you look at the second image, "Campbell Park" has a lot more Pokémon than what is displayed.

[2016-07-22 16:29] insaine2k opened #17 "Scan radius."
A scan radius would be amazing and crucial in my opinion. Nothing crazy just like maybe at max a search radius of say...  0 meters to 50% larger than the current radius?

[2016-07-22 16:29] SpiderDice commented on #12
Wow! Great job! Very Instagram-esque but recognizable as a Pokédex. Love it!

[2016-07-22 16:34] SpiderDice opened #18 "Get Directions"
Would be a great feature in a future build. Simple navigation to the Pokémon.

[2016-07-22 16:35] SpiderDice commented on #13
The 3D ones?

[2016-07-22 16:57] Tsunamii commented on #12
Thanks :)
Glad you like it. Credit is fine as it is.

[2016-07-22 17:11] Darkrift411 commented on #13
I have an insanely high resolution/dpi setup on my phone which works great for everything, but these icons are smaller than fleas for me. I would like slightly larger icons, however that becomes a major pain until you have filtering enabled. I would say get filtering working, and then add a new double set of icons. One small and basic and one larger more detailed. The detailed set could use the in

[2016-07-22 17:31] someguy235 commented on #13
I was thinking of the ones in the "nearby" tracker. This project uses them: https://github.com/AHAAAAAAA/PokemonGo-Map

[2016-07-22 17:57] tajchert opened #21 "Cluster items on map"
Using Android Map Utils create clusters when many pokemons in same area.
https://github.com/googlemaps/android-maps-utils

[2016-07-22 18:10] GaelicGamer opened #23 "Add Google Login Capability"
Currently working on this, if I can figure out a way to do it without the auth messages I'll create a pull request.

[2016-07-22 18:56] SpiderDice commented on #13
@someguy235 Ahh okay. Yeah..I think those look nicer..softer..

[2016-07-22 19:51] #16 closed

[2016-07-22 19:51] #17 closed

[2016-07-22 19:51] #12 closed

[2016-07-22 19:58] BrianEstrada commented on #10
#23

[2016-07-22 19:58] #23 closed

[2016-07-22 20:00] BrianEstrada commented on #13
@Darkrift411 it opens up a menu but that hasnt been implemented yet.

[2016-07-22 20:00] BrianEstrada commented on #13
I'll be switching the icons soon but I want to get some functionality out first before. @SpiderDice @someguy235

[2016-07-22 20:13] SpiderDice commented on #13
All good @BrianEstrada :+1:

[2016-07-22 21:12] Schism169 commented on #18
Agreed! Would love it if you could click on the Pokémon and have an option to open Google maps to drive there!

[2016-07-22 21:12] GaelicGamer commented on #10
O didn't see this already open, are you already working this Brian?  If so I'll move on to a different issue.

[2016-07-22 21:32] MrYawnie commented on #13
@BrianEstrada while you change the icons, could you add different sizes for different dpi? The ones you have now look super small on OnePlus 3 with 400dpi.

[2016-07-22 23:08] StephanBijzitter opened #25 "Hamburger does not respond to input"
Using Huawei Ascend Y530
http://www.gsmarena.com/huawei_ascend_y530-6103.php

I can tap on it all I want, or even hold it, but there is no visual indication that anything is happening or going to happen.

The GPS button (with the target icon), does however respond correctly and also shows the shade of grey when tapping on it, which is not the case for the hamburger icon.

[2016-07-22 23:14] PokeInstinct opened #26 "Show Error When PTC Servers Don't Respond"
I noticed that when clicking 'Scan' and nothing happened it was due to the PTC servers being down, but I had to do a bit of digging to figure out the issue. It would be much more helpful to show an error message when a failed connection to the PTC server causes scan issues.

[2016-07-22 23:17] StephanBijzitter commented on #25
After more testing, it seems input actually passes through the button.

After lining up a Pokémon to be underneath the button, to then press on the button will bring up the name of the Pokémon, as if the Pokémon has been tapped on.

[2016-07-23 00:38] BrianEstrada commented on #25
It's not implemented yet it's already in v1.4.0 it''ll be out by tonight :)

[2016-07-23 00:38] #25 closed

[2016-07-23 00:39] BrianEstrada commented on #26
Has been added!

[2016-07-23 00:39] #26 closed

[2016-07-23 00:49] BrianEstrada commented on #18
It was in the previous version not sure why it's not there anymore I'll look into it.

[2016-07-23 00:49] BrianEstrada commented on #21
This is a good idea added

[2016-07-23 01:09] BrianEstrada commented on #13
@MrYawnie Working on scaling issue right now is that it slows down the device

[2016-07-23 02:21] BrianEstrada commented on #10
@GaelicGamer Go ahead and work on it! Whats your email? I'll invite you to the slack channel

[2016-07-23 03:07] GaelicGamer commented on #10
noah.castro.hart@gmail.com  I'm trying to adapt the auth methods from the
python api to see if that goes anywhere, hopefully it does.

Regards,
Noah

On Fri, Jul 22, 2016 at 10:21 PM, Brian Estrada <notifications@github.com>
wrote:

[2016-07-23 03:46] Seguro19 opened #34 "Menu button not working"
The left top button for menu is not working or is only my mobile problem?

[2016-07-23 03:49] swhittaker commented on #4
It seems that there's a bug with filters here which means scrolling up and down with a filter switched on can sometimes duplicate that filter elsewhere.

[2016-07-23 03:52] swhittaker commented on #34
Works ok for me, what mobile are you using?

[2016-07-23 03:53] Seguro19 commented on #34
Xperia Z5 with android 6.0.1

[2016-07-23 03:59] swhittaker commented on #34
Latest code hasn't made it to releases page yet. Think it's likely it was added since yesterday, so sit tight

[2016-07-23 04:12] BrianEstrada commented on #4
@swhittaker Yeah I'm looking into that right now whittaker I'm not really sure whats causing it, it might be an issue with recyclerview, whats your email? I wanna invite you to the slack channel

[2016-07-23 06:09] SpiderDice commented on #34
Doesn't work for me on Note 5 or Nexus 5X

[2016-07-23 06:42] BrianEstrada commented on #34
Check the latest version it should be working.

[2016-07-23 06:42] #34 closed

[2016-07-23 06:56] BrianEstrada commented on #10
@GaelicGamer Invited you!

[2016-07-23 06:57] BrianEstrada commented on #4
Has been added!

[2016-07-23 06:57] #4 closed

[2016-07-23 06:57] BrianEstrada commented on #3
Has been added!

[2016-07-23 06:57] #3 closed

[2016-07-23 07:15] Controless opened #36 "If you check mark pokemon in the filters list and then scroll up or down, the check marks will be removed"

[2016-07-23 07:26] BrianEstrada commented on #36
I'll work on this right now I just noticed it thank you.

[2016-07-23 07:46] BlueVesper commented on #36
What button in top right on pokemon filter? That not work i think

[2016-07-23 07:51] fizzxed opened #37 "Hex credit"
Not really a pressing issue but since the rest of the contributors got credit, could I get credit for the hex scanning algo :3

[2016-07-23 07:52] BrianEstrada commented on #37
Wait was that you? I'm so sorry!

[2016-07-23 07:55] BrianEstrada commented on #36
@BlueVesper It's decoration for now, might be useful later

[2016-07-23 07:55] #36 closed

[2016-07-23 07:55] #37 closed

[2016-07-23 08:27] Sigi-cz opened #38 "radius is not saved"
selected radius is not saved, always starts at 5.

[2016-07-23 08:37] Sigi-cz opened #39 "transparent filtered pokemons"
please add option to show filtered pokemons with opacity.
0-100% where 0 would hide them completely and make them unselectable like now

[2016-07-23 08:40] Sigi-cz opened #40 "move menu button"
menu button is colliding with the "north" icon when you rotate map

[2016-07-23 08:50] Sigi-cz opened #41 "visualize scan process"
can you show which part of map is currently being scanned?

[2016-07-23 09:07] BrianEstrada commented on #40
Fixed in 1.4.1

[2016-07-23 09:07] #40 closed

[2016-07-23 09:07] BrianEstrada commented on #38
Fixed in 1.4.1

[2016-07-23 09:07] #38 closed

[2016-07-23 09:23] Sigi-cz opened #42 "application as overlay"
is it possible to modify the app to work as an overlay?
This way Pokemon GO would run under it, while you scan the map.
something like benjy3gg/pokeRadar is trying to do.

[2016-07-23 09:35] Sigi-cz commented on #5
the CANCEL button in 1.4.1 stays visible after scan is completed

[2016-07-23 10:39] roflinger opened #43 "way to overloaded, nearly crashes"
cool app but the new version is really hard for my phone (xperia z c6603)
i can naerly not use it.
the version of yesterday ( v1.3.0 ) was way more performant

[2016-07-23 13:45] jnovack commented on #3
You best is good enough! :)

[2016-07-23 16:50] BrianEstrada commented on #43
The next version will have the ability to select your refresh rate for the servers! sorry about that

[2016-07-23 16:51] roflinger commented on #43
no problem, great project :+1: thank you!

[2016-07-23 19:46] rlbond86 opened #47 "Allow scans in locations other than current GPS location"
It would be nice to allow a scan of areas other than the current location. For example, it might be useful to see if nearby parks have grass-type pokemon or a nearby lake has water pokemon.

[2016-07-23 20:01] BrianEstrada commented on #47
The scan is where ever you map is centered it's not bound to your GPS location :)

[2016-07-23 20:01] #47 closed

[2016-07-23 20:02] BrianEstrada commented on #43
This issue should be fixed in 1.5.0

[2016-07-23 20:02] #43 closed

[2016-07-23 20:03] #5 closed

[2016-07-23 20:03] BrianEstrada commented on #42
I'll look into it but it might be a little hard because the app is pretty resource intensive

[2016-07-23 20:03] #42 closed

[2016-07-24 00:32] swhittaker opened #50 "Display lured Pokemon's icons on map"
Would be useful if lured Pokemon also appeared with icons on the map

[2016-07-24 00:35] metherul commented on #50
Please that are spawned via the Lure are only visible to you, so I don't think that'd be possible without using your main account.

At least I think so. Make sure to tell me if I'm wrong.

[2016-07-24 00:55] swhittaker commented on #50
I think that's true for incense, but clicking on the lured pokestops on the map in this app  tells you which Pokemon is currently attracted, but there's no icon for it other than the pink pokestops icon.

[2016-07-24 00:57] metherul commented on #50
Ahh, that makes sense. Thanks for the clarification. If Lures "exist" in the same way as Pokemon and Gyms in the API, I don't see why not.

[2016-07-24 01:13] SpiderDice opened #51 "Select All/Clear All for Pokémon Filter"
Once I've selected a bunch of Pokémon, and I want to start fresh, it'd be nice to be able to have a "Select All" or "Clear All" button at the top.

[2016-07-24 01:23] BlueVesper opened #54 "Clear gym/pokestop"
When i press clear gym/pokestop, nothing happen in map.

[2016-07-24 01:25] BrianEstrada commented on #54
They should go away? are they still there?

[2016-07-24 01:25] BrianEstrada commented on #51
It'll be on 1.5.1

[2016-07-24 01:27] BrianEstrada commented on #39
I think we'll have to see how this affects performance currently performance is really bad when displaying a large set of pokemon on the map (problem with google map API) so adding more modifications to the bitmap might cause issues on lower end devices.

[2016-07-24 01:27] BrianEstrada commented on #10
Added

[2016-07-24 01:27] #10 closed

[2016-07-24 01:27] BrianEstrada commented on #7
This might be added into 1.6.0 we'll see it's a good idea.

[2016-07-24 01:28] BrianEstrada commented on #41
same problem with #39

[2016-07-24 01:28] BrianEstrada commented on #50
@swhittaker I'll see if I can make a sort of dialog to display which Pokemon are there.

[2016-07-24 01:30] BlueVesper commented on #54
They still there. How about replace with button "show gym/pokestop". So we can choose will search gym or not

[2016-07-24 01:35] SpiderDice commented on #51
Awesome!!

[2016-07-24 03:30] GaelicGamer commented on #10
O damn, beat me to it, going to go ahead and pull and see how you went about it.

[2016-07-24 03:49] BrianEstrada opened #55 "Settings not saving"
The values keep going to random ones...needs to be fixed! I'll look into it later if no one picks it up

[2016-07-24 10:06] rhari991 opened #59 "My location button not working"
Clicking on the my location button does not do anything.

[2016-07-24 10:21] LoungeKatt opened #60 "Some performance suggestions"
Just passing through and thought I would leave some info if it's of any use.

Multidex is only available in API 21+ (or somewhere around that) and can most likely be eliminated by reducing the overhead associated with Google Play (and possible fabric, which appears to be a means to store personal data and handle transitions, but can appear questionable at first glance)

`<meta-data android:name="c

[2016-07-24 10:39] roflinger commented on #43
insane improvement! THX !

[2016-07-24 13:08] #55 closed

[2016-07-24 13:40] #59 closed

[2016-07-24 13:40] #54 closed

[2016-07-24 13:48] #39 closed

[2016-07-24 13:48] #41 closed

[2016-07-24 14:54] MrYadro opened #64 "Google maps default markers don't support multiline snippet"
https://developers.google.com/maps/documentation/android-api/infowindows

This

But I don't think that pokemon in a gym matters. We could just leave points.

[2016-07-24 15:39] Sigi-cz opened #66 "scan button status"
scan button is not switching back to "start scanning" after scan finished.

[2016-07-24 18:33] rhari991 opened #68 "Add filters for gyms"
We could filter according to the gym's color and guard pokemon's cp, so that people can find a gym which they can take over easily

[2016-07-24 20:30] phantomguy opened #69 "Rescanning when moving?"
Because notification system is coming it will be possible to get notifications when you are on the go (no pun intended). But the problem is the most optimal range to use the notifications is about three steps or LESS. The thing is, this app fixates scanning to the last location where you pressed scan. And if you're on the move you can quickly get out of range and you basically miss important pokem

[2016-07-24 21:10] BrianEstrada commented on #69
When the service is added it'll go something like this if you're walking around and the pokemon is within 100 meters you'll get a notification you won't have to constantly click on scan.

[2016-07-24 21:10] Latent1 opened #70 "List of Pokemons"
Hello,
Maybe will be good idea if you realize the list of Pokemons which will be will be updated when scanning excepting those Pokemons who aren't necessary?

The list in a look an icon + a name + time

The list can be hidden on the right side of the screen, its slice is displayed by a small strip.
By pressing in the list in the field with a name of the Pokemon it is possible to carry out transiti

[2016-07-24 21:15] phantomguy commented on #69
This is great! so i had a genius idea that's already being implemented! awesome. keep up the good work!

[2016-07-24 22:01] christiancoleman opened #71 "Issue upon starting scan"
`07-24 18:00:04.041 19430-20860/com.pokescanner E/AndroidRuntime: FATAL EXCEPTION: Thread-18360
                                                                 Process: com.pokescanner, PID: 19430
                                                                 java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.pokescanner.objects.GoogleAuthToken.getId_token()'

[2016-07-24 22:07] christiancoleman commented on #71
Looks like, for whatever reason, it thought I was trying to use a Google account. I commented out those lines, logged out, and relogged using PTC details. It is working now. Not sure if this is something others will experience or not.

[2016-07-24 23:35] robert862 opened #72 "Multi-Language-support for Pokemon names"
The UI is already multi-language, but the list of Pokemon shows the English names.
If I knew how to do the translation I would provide the list of German names.

[2016-07-25 03:19] ubergeek77 commented on #18
It would be nice to include this functionality in the white bubble that pops up when you click on something. And actually, that bubble gets cleared on map refresh, sometimes that's every 1-2s. I was thinking about making an issue for it, but hopefully you/some other dev reads this and it's easily addressable.

[2016-07-25 03:34] BrianEstrada commented on #71
@christiancoleman This issue has been fixed in 1.5.2 thanks for reporting!

[2016-07-25 03:35] #69 closed

[2016-07-25 03:35] BrianEstrada commented on #70
I'll see to adding this!

[2016-07-25 03:46] christiancoleman commented on #71
@BrianEstrada Ok sounds great. Is version 1.5.2 _not_ the version currently on Github?

[2016-07-25 03:49] 2Awesome2 opened #73 "Possible to show IV of the pokemon?"
IV is same regardless of who catches it? (just different seed depending on player's level) Why not show pokemon with a certain IV, or is it not possible?

[2016-07-25 03:57] BrianEstrada commented on #71
@christiancoleman The current version that is released is 1.5.1 but the one on github is yes 1.5.2

[2016-07-25 03:57] #71 closed

[2016-07-25 03:57] BrianEstrada commented on #66
Fixed in 1.5.2 thank you!

[2016-07-25 03:57] #66 closed

[2016-07-25 03:58] christiancoleman commented on #71
Buuuut that's the one I'm using. I compiled it in Android Studio. Same issue :(

[2016-07-25 04:07] BrianEstrada commented on #71
ah I haven't update it yet sorry

[2016-07-25 04:08] BrianEstrada commented on #71
Check back in about 15 minutes I need to squish some bugs

[2016-07-25 04:09] christiancoleman commented on #71
Ahhh ok perfect. Thought I was going crazy for a second. Looking forward to the update!

[2016-07-25 04:32] BrianEstrada commented on #71
It should be fixed now :D!

[2016-07-25 05:08] EZTEQ commented on #72
This is how we should so it:
https://github.com/AHAAAAAAA/PokemonGo-Map/tree/master/static/locales

[2016-07-25 06:50] EZTEQ opened #75 "AppUpdate Dialog should use v7 support library"
To get it working on lower API levels

[2016-07-25 07:43] Tsunamii commented on #73
Getting the iv from the pokemon with the java api is already possible. Even for those you already have.
If Brian get's a Pokemon object while scanning it's really easy to implement.

Pokemon.java Line 259++

[2016-07-25 08:36] robert862 commented on #72
very good EZTEQ, maybe PScanner can use that list directly.

[2016-07-25 08:38] robert862 opened #76 "Highlight scanned areas within the circle on the map"
It would be great if the parts of the circle, which have already been scanned would be highlighted.
That way the user knows whether there is no (non-filtered) Pin an area or that part of the circle has not been scanned yet.

[2016-07-25 08:46] BrianEstrada commented on #64
This is honestly a really good idea I'll be implementing this thanks!

[2016-07-25 16:03] Sigi-cz commented on #76
https://github.com/BrianEstrada/PokeScanner/issues/41

[2016-07-25 17:50] actsof3000 opened #78 "Blinking pokemon icons"
When close my phone and reopen it into the app, the Pokemon will blink with time refresh

[2016-07-25 18:40] EZTEQ commented on #75
Yes, but it's not fully implemented yet. It will be available in v1.6.0

Am 25.07.2016 20:39 schrieb "Seguro19" <notifications@github.com>:

[2016-07-25 18:55] ckasek commented on #73
From what I've found poking around in the API code, I don't think this is possible.  The nearby pokemon API just gives you the pokemon ID, encounter ID, lat, long and expiration time.  The Pokemon object is used on the Player side, for seeing what's already in your inventory.

[2016-07-25 18:59] Hoully111 commented on #71
Is this the issue where you go to click for a new scan but if the app has been idle sometime you have to log out and back in for scan to work??

[2016-07-25 19:04] rhari991 commented on #71
No, this one causes the app to crash.
If you find a new issue, please create a new issue. Also mention whether you were using a google account or a ptc account

[2016-07-25 19:08] Hoully111 opened #79 "New Scan Issue"
I am having a issue where I go to click for a new scan but if the app has been idle sometime I have to log out and back in for scan to work??

This is using Google Account

[2016-07-25 19:24] BrianEstrada commented on #79
ah yeah the token needs to be refreshed every 30 minutes :(

[2016-07-25 19:26] #68 closed

[2016-07-25 19:26] Hoully111 commented on #79
Not a problem so just log out and back in than all set :)

[2016-07-25 19:28] rhari991 commented on #79
We could show an error message
Or log them out automatically ?

[2016-07-25 19:30] BrianEstrada commented on #79
@rhari991 logging them out automatically would be the best choice

[2016-07-25 19:31] Hoully111 commented on #79
Or would it be possible to automatically rescan every so often so that the token wouldn't expire? Or is there no way around it expiring

[2016-07-25 19:52] EZTEQ commented on #76
Closed as duplicate of #41

[2016-07-25 19:52] #76 closed

[2016-07-25 20:21] rhari991 opened #81 "New screen for settings"
Android has a UI guildeline for settings
https://developer.android.com/guide/topics/ui/settings.html

We could use it to make our setting page look more natural. Also, we could merge the filter and search radius into the settings to make things a bit cleaner. Any thoughts ?

[2016-07-25 20:28] BrianEstrada commented on #81
yeah this is a solid idea

[2016-07-25 22:07] metherul commented on #78
I'm getting this too. Looks like the app icon are being redrawn when the timer updates.

[2016-07-25 23:22] BrianEstrada commented on #78
This issue is fixed in version 1.5.4 :) pokemon are no longer redrawn

[2016-07-25 23:23] #78 closed

[2016-07-26 02:29] #81 closed

[2016-07-26 02:29] BrianEstrada commented on #79
Fixed in 1.5.3v

[2016-07-26 02:29] #79 closed

[2016-07-26 02:30] BrianEstrada commented on #60
Thanks for the advice I've been looking into splitting up the classes more and I'll see to adding that meta data to the activities thank you!

[2016-07-26 02:30] #60 closed

[2016-07-26 02:31] BrianEstrada commented on #18
The issue has been fixed! Navigation should be back in the app :)

[2016-07-26 02:31] #18 closed

[2016-07-26 02:44] Hoully111 opened #83 "Pokemon Filter"
With the latest release this evening the filter isn't working Pokémon i selected to hide in settings are still showing on map

[2016-07-26 02:45] BrianEstrada commented on #83
Ahahah you guys are fast

[2016-07-26 02:50] Hoully111 commented on #83
Not a problem i absolutely love this application i wish i could do more to help

[2016-07-26 02:54] rhari991 commented on #83
Are they still not hidden when restarting the app ?

[2016-07-26 02:56] Hoully111 commented on #83
I tried a clean install and no go

[2016-07-26 02:59] BrianEstrada commented on #83
I found the bug I'll upload the fix shortly :)

[2016-07-26 03:17] Hoully111 commented on #83
Thank you for fast support and updates

[2016-07-26 03:27] BrianEstrada commented on #83
No problem! This issue has been fixed go redownload the APK and let me know if works for you :)

[2016-07-26 03:27] #83 closed

[2016-07-26 03:31] rhari991 opened #84 "Revamp the directions and google maps linking"
1) We could open up a dialog when a user clicks on a marker, showing info about the pokemon/gym/pokestop, and add options to show a route right inside our app or to open google maps.

2) Clicking the icons on the bottom right of the map after clicking a marker does not seem to do anything.

3) Add a feature in the setting menu to add all current Gym and Pokestop markers to the Google Maps app.

[2016-07-26 03:34] Hoully111 commented on #83
All fixed perfect

[2016-07-26 03:53] ubergeek77 opened #85 "Problems with Range Options"
The 3 settings under Range Options tend to be a bit buggy for me after the update. To keep it brief, all 3 options tend to not get updated properly. For example, if I change the Search Radius to 2, sometimes that setting will not change, and when I re-enter the settings, I will see that it is still set to 4, which is the default setting. The "Show Range Preview" and "Show Range" toggles have simil

[2016-07-26 03:55] rhari991 commented on #85
The filters issue was just fixed recently, please try the newest apk file

[2016-07-26 03:57] ubergeek77 commented on #85
Ah, I totally overlooked that commit. Thanks, I'll clone and build and see if I'm still having these problems.

[2016-07-26 04:12] BrianEstrada commented on #85
I'm testing on 3 devices and everything seems to save fine?

[2016-07-26 04:14] BrianEstrada commented on #85
What device and version are you on?

[2016-07-26 04:14] BrianEstrada commented on #75
Implemented

[2016-07-26 04:16] ubergeek77 commented on #85
Actually, it looks like the Search Radius keeps getting reset every time you toggle "Show Range" and "Show Range Preview." I didn't realize this when I was trying to wrap my head around the issue, but I'm doing it right now and can reproduce it very easily. I have an LGV10 on Android 6.0.

[2016-07-26 04:50] bquesse opened #86 "Pokemon icons disappearing completely"
On latest apk as of ten minutes ago. Perform a scan and then drag the map view such that the Pokemon are off screen. When you drag the map back to where the Pokemon should be, they are gone. Nexus 6P, Android 6.0.1

[2016-07-26 04:59] ubergeek77 commented on #86
I had this issue in 1.6.0 too, but I think commit f5b041f fixed it, as it is no longer happening for me after rebuilding. Are you able to build this and confirm for us?

[2016-07-26 05:00] BrianEstrada commented on #86
It should be out 1.6.1

[2016-07-26 05:03] #86 closed

[2016-07-26 05:04] BrianEstrada commented on #85
@ubergeek77 That's good work I'll see whats causing that issue it shouldn't be too hard to track down with that information :)

[2016-07-26 05:08] bquesse commented on #86
Can confirm, thanks!

[2016-07-26 05:27] rhari991 opened #87 "App updater not working for v1.6.1"
Can't seem to update from v1.6.0 to v1.6.1 automatically

[2016-07-26 05:40] BrianEstrada commented on #85
Fixed in 1.6.2!

[2016-07-26 05:40] #85 closed

[2016-07-26 05:45] BrianEstrada commented on #87
Issue has been resolved!

[2016-07-26 05:45] #87 closed

[2016-07-26 08:11] InstallGentoo11 opened #89 "Icons disappearing/not showing at all"
I tried today for the first time the app. It was usefully, especially in the beginning, but ended up being far from the smoothest ride.

It is hard to say how exactly, but it would be something between resizing the map and going between the scanner and the game, the icons of some pokemon or even all just disappear (no, it is not the their timing). Often scans don't even show anything in certain ar

[2016-07-26 09:56] Cynthiachecked opened #92 "Option to get navigation to the Pokemon location"
Hello, is there a possibility to add a navigation option in either this app or direct to google maps or something.

And I also want to use this issue question to thank you for your great work I am enjoying it to the fullest. Keep up!

[2016-07-26 09:58] rhari991 commented on #92
This is in the pipeline, will be released in a day or two.
We are glad you are enjoying the app :)
Duplicate of #84

[2016-07-26 09:58] Cynthiachecked commented on #84
Sorry I just double posted, YES this would be great!

[2016-07-26 09:59] #92 closed

[2016-07-26 12:15] BrianEstrada commented on #89
Yeah I think this issue was indeed resolved in 1.6.1 :)

[2016-07-26 12:15] #89 closed

[2016-07-26 12:52] rhari991 opened #94 "Add settings for updates"
Add a new setting to enable/disable update checking.

[2016-07-26 12:57] akshayt23 commented on #51
@BrianEstrada I'm on 1.6.3 and couldn't find this option. If you haven't picked it up yet, can I go ahead and start working on it?

Also, I feel the Pokemon filter should be the other way round, ie, check = `show` instead of `hidden`. Let me know your thoughts on this and I'll be happy to fix it and submit a PR.

[2016-07-26 13:23] EZTEQ commented on #94
Eventually a "Check for updates" entry. Think about people that disable the auto update and want to check for updates themselve.

[2016-07-26 13:28] BrianEstrada commented on #94
@EZTEQ I'll just add it now :0

[2016-07-26 13:59] BrianEstrada commented on #51
@akshayt23 I suck and I didn't implemented I'll get around to it  for 1.7.0 promise :(

[2016-07-26 13:59] HammyPBB opened #95 "War driving mode?"
Would it be possible to have an option to recenter map automatically on current location?

I'm using this map on an android car head unit while my passenger works our phones.

[2016-07-26 15:31] #94 closed

[2016-07-26 15:39] SpiderDice commented on #51
@akshayt23 Yes, I agree. I think that every Pokémon should be selected, is visible.

[2016-07-26 15:39] bquesse opened #98 "Advanced notifications"
Not always around to hear to sound notifications, perhaps the app could send a simple email or ping a service like Pushbullet?

[2016-07-26 16:56] Hoully111 opened #100 "Auto Update Feature"
I am running 1.6.4 but it notifies that 1.6.4 is available to update

[2016-07-26 17:01] BrianEstrada commented on #100
Try updating again!

[2016-07-26 17:05] #98 closed

[2016-07-26 17:05] bquesse commented on #98
Disregard -- wrong project!

[2016-07-26 17:09] nabakin opened #101 "Link to register for PTC on login screen"
A lot of people don't know where to create a new PTC account (here: https://sso.pokemon.com/sso/login?locale=en&service=https://www.pokemon.com/us/pokemon-trainer-club/caslogin).

It would be convenient if there is a simple link on the login screen.

[2016-07-26 17:54] akshayt23 commented on #51
@BrianEstrada No issues man. I'll start working on it and create a PR.

[2016-07-26 18:44] Hoully111 opened #102 "Directions Feature"
Will this feature only work with Google GPS or can it work in other GPS apps reason i ask is my google gps hates me and the second i start navigation it auto loops back to directions

Just inquiring if the navigate feature will open to default GPS application

[2016-07-26 18:44] Hoully111 commented on #100
New version works great

[2016-07-26 19:19] phantomguy opened #104 "save password(s) and gps tracking."
Sometimes the app crashes and it logs you out, and you have to re-type the password. is it possible to save the password (or multiple of them, in case you have a google login as well).

Just a notion about gps tracking it's really inconvenient if you're using gps tracking and you want to scan somewhere else. You have to go to settings and turn the gps off, go back to the program, scan a far away p

[2016-07-26 19:23] BrianEstrada commented on #104
you can just keep GPS tracking off and use the icon to the top right to go to your location and scan there :P

[2016-07-26 19:27] phantomguy commented on #104
How about just saving the (last) password in the txt box? or is that part of the complicated code? (i have no idea)

[2016-07-26 19:46] BrianEstrada commented on #104
I'm pretty sure it should be automatically entered but I'll check whats going on...the real issue here is what are you doing before you're crashing? do you get any sort of error?

[2016-07-26 19:47] BrianEstrada commented on #102
@Hoully111 This is actually a really good suggestion and I will definately add this to the next release

[2016-07-26 19:47] #100 closed

[2016-07-26 19:51] Hoully111 commented on #102
Ty because ive searched and searched and can't fix Google Maps so being able to use an alternative application would be great

[2016-07-26 19:55] Hoully111 commented on #102
Save me from a factory reset LOL

[2016-07-26 19:55] phantomguy commented on #104
in version 1.6.1 (was force closing), but in the newest one (.5) if i close the app myself and open it again, it somtimes has no pass (just username) entered.

[2016-07-26 20:21] #102 closed

[2016-07-26 20:21] Hoully111 commented on #102
Fixed it :)

[2016-07-26 20:23] someguy235 opened #107 "app crashes when resumed from task switch"
I'm getting consistent crashes ("Unfortunately PokeScanner has stopped") when switching back to this app after using other applications. It doesn't always happen, but I can reliably reproduce it by switching to a resource-intensive application (like Pokemon GO) and back. I wasn't seeing this until about a day ago. This is on a Nexus 5x.

[2016-07-26 20:45] BrianEstrada commented on #107
What version are you on?

[2016-07-26 20:49] someguy235 commented on #107
1.6.5

[2016-07-26 21:16] CelloDE opened #108 "Server won't answer"
When trying to log in it says that the servers aren't answering, when I check if they're down it says no.

[2016-07-26 21:25] BrianEstrada commented on #108
1) Your account might be disabled 2)Have you activated your account

[2016-07-26 21:39] akshayt23 commented on #51
@BrianEstrada Hey I'm done implementing the select all filter. Will raise a PR in some time.

Regarding the issue of the filters being the other way round (ie, `check = show`), there are two ways I can think of to fix that.

1. Change the meaning of a `filtered` Pokemon in the entire codebase. `Filtered` Pokemons would then be considered as those which the user has **selected in the filter** and *

[2016-07-26 22:43] Marty25 opened #110 "Empty map, nothing's happens"
Hello! I'm trying to run this app on my device (android 5.0) and getting just empty map. After scanning nothing happens. (Sorry for my english).

[http://i.imgur.com/qkFMBuT.jpg](url)

[2016-07-26 22:50] Marty25 commented on #110
Update: APK in Download Section works fine, but something is wrong with my build.

[2016-07-26 22:53] BrianEstrada commented on #110
Ah yeah we aren't including the key to the Google Maps API anymore (Other devs are forking our project and using it on the playstore) really sorry about that you'll need to put your own key in the manifest!

[2016-07-26 22:53] BrianEstrada commented on #110
Solved

[2016-07-26 22:53] #110 closed

[2016-07-26 22:53] #108 closed

[2016-07-27 00:30] CelloDE commented on #108
Got in a few minutes later. Wasn't disabled and was activated.

[2016-07-27 00:35] acidic48 opened #112 "Wrong Icon location"
I'm using LG Nexus 4 and when I try the updates version 1.6.5
the gear button is location is above the compass button http://prnt.sc/bxyinl
is it a bug or the cause is from my phone?
i'm sorry for my bad english

[2016-07-27 01:03] Seguro19 opened #113 "So much lag with massive pokemons"
In some popular sites there are sooo many pokemons an the mobile phone get lagged so much, i have a Xperia Z5 with 3GB of RAM and get lagged so much, maybe because the counters of every pokemon, is there any way to solve this lag?, maybe set the counter per 30 seconds and not every second or something?

[2016-07-27 01:12] BrianEstrada commented on #113
You can adjust the scan settings please read the settings.

[2016-07-27 01:12] #113 closed

[2016-07-27 01:13] BrianEstrada commented on #112
Ahhh the compass icon shouldn't be showing up! I'll look into it thank you.

[2016-07-27 01:14] BrianEstrada commented on #73
@ckasek Is correct is isn't possible to see the pokemon level closing this

[2016-07-27 01:14] #73 closed

[2016-07-27 02:02] BrianEstrada commented on #51
The first option should be fine as long as you clear out the sharedprefs file something like
if (firstRun=true) {
sharedprefs.clear;
firstRun=false;
}

[2016-07-27 02:06] BrianEstrada commented on #104
I found the issue hehehe it should be working for the 1.7.0 release

[2016-07-27 03:25] #104 closed

[2016-07-27 03:34] #7 closed

[2016-07-27 04:16] BrianEstrada commented on #104
Check out the subreddit for the alpha verrsion @phantomguy

[2016-07-27 05:43] rhari991 opened #115 "Add a splash screen"
Adding a splash screen, which should show things like the update and permissions dialog instad of the loginactivity

[2016-07-27 07:08] akymos opened #116 "Map style"
Add an option to switch between old and new map style

[2016-07-27 07:40] BrianEstrada commented on #116
When you say old and new map style what exactly do you mean? sorry don't understand too well

[2016-07-27 07:49] akymos commented on #116
Old style: 1.6.5
New style: 1.7.0 alpha
Referring to https://redd.it/4ustva

[2016-07-27 07:53] Shagon94 opened #117 "Current location scan"
Currently when you opt in for gps scan you get an error "Failed to center camera"; It would be really helpful if the location is cached and be vary of gps, eg. when you're in the city just toggle on gps location and it should scan your area, and when you turn on the app a couple of hours later the location is loaded since now you have to each and every time zoom in to your country and find the loc

[2016-07-27 12:32] Hoully111 opened #119 "Map Search"
Probably already requested but how bout a map search feature where you can put a location your heading for example the address of your work and search that area in advance lol

[2016-07-27 12:58] #115 closed

[2016-07-27 13:05] HammyPBB opened #122 "Cannot access PTC Username input box in landscape"
Devices in landscape orientation cannot access the PTC Username input box

[2016-07-27 13:47] rhari991 opened #124 "Change the location provider"
Instead of getting the current location using
`currentLocation = locationManager.getLastKnownLocation(provider);`

We can use the [this](https://developer.android.com/training/location/retrieve-current.html)

[2016-07-27 15:54] #124 closed

[2016-07-27 16:52] BrianEstrada commented on #116
I'll look at this in a bit and see to merging it thanks!

[2016-07-27 17:15] loki980 opened #128 "Hide type of pokemon directly from the map"
It'd be nice to be able to click a pokemon after a scan and then, in the contextual popup, have the option to hide all of these types of pokemon without having to scroll through the filter.

[2016-07-27 17:56] #95 closed

[2016-07-27 19:45] #50 closed

[2016-07-27 21:19] zanesc opened #133 "Zoom buttons for map"
This isn't urgent but it would be nice to have zoom in and out buttons for the map. I am running this app from a computer with BlueStacks and it's not possible to zoom without buttons.

[2016-07-27 22:47] acidic48 commented on #112
Thanks.
BTW i figure there was the compass button when I try rotating the maps

[2016-07-27 23:14] #116 closed

[2016-07-27 23:19] fizzxed opened #134 "[Urgent] Passwords"
In the build.gradle of the latest commit, you have some passwords exposed as well as a hardcoded path
@BrianEstrada

[2016-07-27 23:30] fizzxed commented on #134
Also there's a live key in keys.xml?

[2016-07-28 00:01] BrianEstrada commented on #134
Jesus christ

[2016-07-28 00:11] BrianEstrada commented on #134
Thanks for the heads up

[2016-07-28 00:11] #134 closed

[2016-07-28 01:05] #112 closed

[2016-07-28 01:05] BrianEstrada commented on #117
Issue should be fixed with the latest version! 1.7.0 Alpha

[2016-07-28 01:05] #117 closed

[2016-07-28 01:05] #51 closed

[2016-07-28 01:05] #64 closed

[2016-07-28 01:06] #107 closed

[2016-07-28 01:06] BrianEstrada commented on #107
This should be fixed in 1.7.0 but is untested please let me know if the issue is fixed!

[2016-07-28 01:07] BrianEstrada commented on #84
This should be implented fully in 1.7.0 Alpha please check the subreddit for the download

[2016-07-28 01:07] BrianEstrada commented on #84
https://drive.google.com/open?id=0BwKPMC8uhkNHejFMeFdUT29kcW8 <-Link

[2016-07-28 01:07] #84 closed

[2016-07-28 01:09] BrianEstrada commented on #122
Ahhh we're not supporting landscape right now once we get the app in a more finished state we'll go over the layouts and design better views! sorry.

[2016-07-28 01:09] #122 closed

[2016-07-28 01:21] fizzxed commented on #134
Np, hopefully you change all accounts that use those credentials

[2016-07-28 01:42] BrianEstrada commented on #134
ahaha first thing I did! Someone tried to access my facebook -_- btw idk if you're on the subreddit but the alpha version is out for testing if you're interested

[2016-07-28 05:07] BrianEstrada opened #136 "Change background of the text above based on the item"
I think the bubble should change text based on the type of stop

Lure = blue
Pokemon = green
Lure w/ bait =purple
Neutral Gym = gray

[2016-07-28 07:08] EZTEQ commented on #133
Press `Ctrl` while clicking on the map. With this combination you pinch to zoom in BlueStacks.

[2016-07-28 07:08] #133 closed

[2016-07-28 07:23] akymos opened #138 "Crash on scan"
If I scan, clear Pokemons and rescan, the application crash.

[2016-07-28 07:46] BrianEstrada commented on #138
https://drive.google.com/open?id=0BwKPMC8uhkNHdktaRjlDVW8tams

It should be fixed in the latest build! (literally just fixed it like 5 mins ago) test it out and let me know :)

[2016-07-28 07:47] #136 closed

[2016-07-28 07:56] zanesc commented on #133
@EZTEQ but how do you zoom back out? i've tried all different key combinations.

[2016-07-28 08:06] #138 closed

[2016-07-28 08:06] #13 closed

[2016-07-28 08:38] ferlynlie opened #141 "suggestion: add background scanning with notification"
Please add the feature to do auto scanning for certain location even when the app is not opened and notify the users when certain pokemons are spawned (selected by users)  it will be very awesome. Thanks

[2016-07-28 09:01] BrianEstrada commented on #72
Implemented

[2016-07-28 09:01] #72 closed

[2016-07-28 09:01] BrianEstrada commented on #141
This is a planned featured

[2016-07-28 09:05] ferlynlie commented on #141
Awesome :)

[2016-07-28 09:43] Tsunamii opened #145 "update java api to latest dev branch"
https://github.com/Grover-c13/PokeGOAPI-Java/issues/293
GoogleAutoCredentialProvider makes the login much easier :)

[2016-07-28 09:48] john086 commented on #145
I can use signin button of google play services ?

[2016-07-28 10:00] Winoz opened #146 "Can't scan at ver 1.6.5 why? Google account ban?"
Anyone can give solution??

[2016-07-28 10:11] #146 closed

[2016-07-28 10:42] akshayt23 commented on #51
@BrianEstrada Hey, did you already fix this issue? I was planning to raise a PR containing the **Select All / Clear All** and making **Selected = Hidden** in the Pokemon filter.

[2016-07-28 16:02] BrianEstrada commented on #145
Still trying to figure out the new API might take a little longer than expected

[2016-07-28 20:38] Hoully111 opened #147 "Scan Not Working"
When I run a scan it appears like it is starting but than stops and doesn't finish scanning

[2016-07-28 20:43] BrianEstrada commented on #147
http://ispokemongodownornot.com/

[2016-07-28 20:43] #147 closed

[2016-07-28 20:43] BrianEstrada opened #148 "Add Server Down Notification to Maps"
Current there is no display for users to know when the server is down so we need to work on that

[2016-07-28 20:44] Hoully111 commented on #147
Oh sorry sir thank you i didn't even think server related

[2016-07-28 20:44] BrianEstrada commented on #145
Current branch is not working with android (uses java 8)

[2016-07-28 21:14] Hoully111 commented on #148
Great idea :)

[2016-07-28 21:34] tienduccao opened #149 "The scanning function stops working after several scans"
I scanned on 3 different locations on the map.
When I tried the 4th scan, there's no progress on the scan button and I saw no pokemon.

[2016-07-28 21:39] tienduccao commented on #119
I'm working on this and will create a pull request soon :)

[2016-07-28 21:54] cepoterbang opened #150 "Keep asking to Enable Location Service"
Hello..
After update to version 1.7.1 when I try to run my scanner keep asking me to Enable Location Service to Continue... It never occured in all previous version...
I'm using Nox App Player... Thx

[2016-07-28 22:09] InstallGentoo11 commented on #150
Same here. It shouldn't demand it anyway considering you could scan without the gps on.

[2016-07-28 22:34] BrianEstrada commented on #150
yeah it's being removed in 1.7.2 sorry about that guys

[2016-07-28 23:44] teioh007 opened #151 "why every time i use the pokemon scanner msp does not appear?"

[2016-07-29 01:01] Hoully111 opened #152 "Pokemon Blacklist"
I like the select Select All and None feature but anyway to move them up top and bring back the save button down bottom 3 times now i clicked None :(

[2016-07-29 01:20] InstallGentoo11 commented on #150
You shouldn't have removed the old versions, so people can actually download them and use them.

[2016-07-29 01:23] MajorNewbie opened #153 "No map mode"
Awesome app! Would it be possible to have a mapless mode that either didn't load the background google maps or showed direction/rough position to the pokemon (even if only in list format). This would save on map data as well as keeping some of the mystery/fun in having to discover pokemon.

[2016-07-29 04:08] BrianEstrada commented on #151
What version are you using? anything pre 1.5.0 isnt gonna work.

[2016-07-29 04:09] BrianEstrada commented on #149
https://github.com/Grover-c13/PokeGOAPI-Java/issues/325

It's an issue with the JAVA API going to be fixing this later

[2016-07-29 04:09] BrianEstrada commented on #150
@InstallGentoo11 Our API keys were released publicly we had no choice but to remove the keys.

[2016-07-29 04:09] #150 closed

[2016-07-29 04:09] BrianEstrada commented on #152
lmaooo I keep doing the same thing I'll see what I can do.

[2016-07-29 04:10] Hoully111 opened #154 "Notification/Always On Feature"
I was wondering if there could be an option for always on so that the screen doesn't time out / would it be possible that while scan runs and screen is black you get an audio notification of some sort if a Pokémon not on your blacklist shows up

[2016-07-29 04:12] Hoully111 commented on #152
Well you know it's bad if your doing it hahahah jk still an excellent feature just bad location :)

[2016-07-29 04:42] teioh007 commented on #151
first I used the pokemon scanner 1.5.2 can be used. after i finished doing
flash my smart phone. I reinstall the pokemon scanner 1.5.2. when I use it
again suddenly the map gps does not appear. do you have solution for this
problem?
Pada tanggal 29 Jul 2016 12.08 PM, "Brian Estrada" <notifications@github.com>
menulis:

[2016-07-29 04:44] BrianEstrada commented on #152
[How does this look?](https://dl.dropboxusercontent.com/u/31949989/Capture.PNG)

[2016-07-29 04:45] BrianEstrada commented on #151
Update to 1.7.0

[2016-07-29 04:46] Hoully111 commented on #152
Perfect but will we have a save button dowk bottom or just back button on your phone either way works in my opinion

[2016-07-29 04:47] BrianEstrada commented on #152
I could add a back button but the save button is redundant and confuses people because the list automatically saves after being checked

[2016-07-29 04:48] Hoully111 commented on #152
Ok true just aslong as the back button isnt up top hahaha

[2016-07-29 04:53] #151 closed

[2016-07-29 04:53] BrianEstrada commented on #153
hmmmm sounds like listmode?

[2016-07-29 04:53] BrianEstrada commented on #153
We could add something like that in the future where it just scans cordinates and outputs a list

[2016-07-29 05:33] Darkrift411 commented on #13
/me adds the wontuse label

Sorry, these issues make it unusable for me. Keep up the good work though.

[2016-07-29 07:25] Bdwipa opened #155 "Update"
Please update  for Jelly Bean

[2016-07-29 07:51] BrianEstrada commented on #152
Issue marked as fixed

[2016-07-29 07:51] #152 closed

[2016-07-29 09:37] #119 closed

[2016-07-29 09:37] #70 closed

[2016-07-29 09:39] tienduccao commented on #119
Ok I was slower, thanks for the feature anyway

[2016-07-29 09:42] tienduccao commented on #149
I think it's better if we show some notifications to user

[2016-07-29 11:15] Hoully111 opened #157 "Scanner Timer Issue"
When running a new scan tje timer for scan progress is jumping all over the place also wjen phone switches from portrait to landscape it stops the scan

Using 1.7.3

[2016-07-29 12:07] #75 closed

[2016-07-29 13:04] EZTEQ commented on #157
Can reproduce it. We will look at this.

[2016-07-29 13:19] xhizorsz opened #158 "Background Service / Notification"
I would like to see a background service which is scanning for non blacklisted Pokemon in a
independently settable search radius.
Just scan (e.g every 60 seconds) at current user position and send a notification with Pokemon Name, spawn time and maybe a navigation button.

With a smartwatch or fitnesstracker this would be very usefull with a search radius of 1 and a small search intervall.

[2016-07-29 13:22] #158 closed

[2016-07-29 13:24] MajorNewbie commented on #153
Originally I was more thinking just as it is but without the maps, so more like a 'radar' with a circle showing scan area and then the pokemon inside that circle, perhaps with smaller circles denoting distance (100m, 200m lines, etc) but figured depending on how the map integration is, that might end up being an entirely separate app/interface, hence the list idea.

However, to be useful, the list

[2016-07-29 13:30] MajorNewbie commented on #153
Just saw the list view, great work! Would it be difficult to add a heading/compass direction? I'm probably over thinking, it doesn't need to update, you can just re-scan.

[2016-07-29 13:32] xhizorsz commented on #141
Awesome I'm waiting for this feature too.

I got some suggestions for this feature (maybe you like them and implement them)

-independent scan Radius for the background service
-user settable search intervall
-the option to blacklist Pokemon from the background service
-content of the notification : Pokemon name, spawn time, distance and a navigation button

This would be overkill for wearables :)

[2016-07-29 13:41] jaydlawrence opened #159 "Automatic updator doesn't trigger installation after downloading"
I am not sure if this is an issue or not, since I don't know how the updater is intended to work.

I have tried using a few times. Each time it downloads the file and then the file doesn't trigger an auto install. I have to go looking for it to trigger the install.

It took ages to download over mobile data, so it could be that while waiting I closed the app or went to the lock screen.

How is it

[2016-07-29 13:59] kurasa commented on #159
i'm agree with jaydlawrence ... i found error after update n downloads

[2016-07-29 15:08] dwk001 opened #160 "[Suggestion] Please show scanned locations"
As the map is scanning locations, it is my understanding that this app is jumping from location to location, scanning. Can you show where the map is currently scanning? [Like this](https://gfycat.com/ShortFinishedDinosaur) It would be nice to know where the app is currently scanning.

[2016-07-29 17:19] starfo opened #161 "API-Changes: Scanner isn't working proper anymore"
It seems as if the returned radius is now only 70m instead of 100m:

https://www.reddit.com/r/pokemongodev/comments/4v73aj/psa_scan_radius_was_changed_from_100m_to_70m/

[2016-07-29 17:26] starfo commented on #161
Only this line needs to be changed, right? https://github.com/BrianEstrada/PokeScanner/blob/master/app/src/main/java/com/pokescanner/helper/Generation.java#L55

An probably also the text in the menu: higher_number_slower_search

[2016-07-29 17:37] BrianEstrada commented on #161
Thanks It's been changed!

[2016-07-29 17:37] #161 closed

[2016-07-29 17:38] BrianEstrada commented on #159
We're looking at possible publishing on the playstore

[2016-07-29 19:32] InstallGentoo11 commented on #153
There is something I wanted to suggest myself so I will use this thread to do. I have heard, I have no idea if it is correct, that if you have downloaded for offline usage the map of let's say your city in google maps the game won't use your mobile data to load it, but that offline download (for my city was like 40mb, it is not much). I wonder if this could be done with this app.

And for gods sak

[2016-07-29 21:14] fonix232 opened #162 "Licensing"
I see you've taken code development to a different place.

Since the original work was licensed under GNU GPL v3, unfortunately you cannot make the code private - it requires you to make sure anyone who can get the binary version (i.e. the APK) can receive the source code that was used to build it.

Since you're pushing updates through Fabric's Beta, many will have the right to request the source

[2016-07-29 21:52] BrianEstrada commented on #162
I understand what you are saying but we are currently still deciding what to do...

GPL does allow you to take a REPO private but you must provide the source when request and you are allowed to charge for that source..

https://www.gnu.org/licenses/gpl-faq.en.html#DoesTheGPLAllowMoney

which is something we are exploring...Currently the situation is not okay devs are profiting from our hard work w

[2016-07-29 22:00] fonix232 commented on #162
You can take the repo private. My problem wasn't with that. It was with the second half of the statement, namely, that you will only allow access to the code to people who've already committed to the project themselves.

I understand the situation is not okay. However, due to the licensing, you can't do much. You can't make sure that only people who will respect your work will get the source code.

[2016-07-29 22:34] starfo commented on #161
@BrianEstrada I think now it is to small. Shouldn't it be 140 instead of 70? The 200 was the distance between scan positions and therefore 200 was 2*radius.

[2016-07-29 23:24] j0be opened #163 "PokeStop Clusters"
Basically, whenever you scan, it grabs the Pokéstop data. With every stop it finds, I want to have it check the scanner radius length {edit: 40m} around that stop for other stops. If the number of reachable stops from a single point exceeds the user defined threshold (default 3) it will add a map entry for the Pokéstop cluster.
This would be immensely useful in cities to find great locations to st

[2016-07-29 23:25] j0be commented on #163
Feel free to assign this to me

[2016-07-30 00:55] ferlynlie opened #164 "suggestion: ability to login with multiple id"
I wonder if the feature of multiple id do the scan with certain distances set by user. It will do the faster scanning process with the wider results. Hahaha. Thanks man.

[2016-07-30 03:46] kurasa opened #165 "How to random Google API Key?"
Great apps....
if I may give a bit of feedback, whether it is possible to add google API KEY more and configured in a random? because of limited API

[2016-07-30 03:49] BrianEstrada commented on #165
Android Google Maps API has no limit.

[2016-07-30 03:49] #165 closed

[2016-07-30 04:02] kurasa commented on #165
How about this?
https://developers.google.com/maps/faq?csw=1#usagelimits

because I use the free API

Thanks for advance

[2016-07-30 04:05] BrianEstrada commented on #165
http://i.imgur.com/TczUqxM.png

[2016-07-30 04:17] modoj opened #166 "Can no longer use Google ID with 2FA after update"
It appears the app was changed to use Google credentials directly rather than accessing device accounts, though it seems I cannot use my account now as it replies as bad credentials rather than prompting for 2fa code.

[2016-07-30 04:25] BrianEstrada commented on #166
I wanna say you shouldn't be using an account with 2FA and you definately shouldn't be using your main account...create a throw away account because there is a chance your main account will be banned lol.

[2016-07-30 04:45] #166 closed

[2016-07-30 05:23] tristo7 opened #167 "Scanning range"
Has the new scanning range of 70m (instead of 100m) been implemented? Didnt see mention of it in changelog.

https://www.reddit.com/r/pokemongodev/comments/4v73aj/psa_scan_radius_was_changed_from_100m_to_70m/

[2016-07-30 05:33] BrianEstrada commented on #167
Yes it has sorry I'll edit it

[2016-07-30 05:33] #167 closed

[2016-07-30 06:15] guiann commented on #154
part of the notification service I'm working on.
feel free to assign it to me

[2016-07-30 06:18] guiann commented on #141
I'm working on it.
thanks for sharing your ideas => they are pretty much the same as mine!
So it means I following the good path :)

[2016-07-30 06:42] Hoully111 opened #168 "Driving Radius"
Idk if this is even possible depending on how the search radius feature works but would it be possible to have the search radious we designated follow us LIVE as we drive...hope that makes sense

[2016-07-30 07:39] lightnshine1 opened #169 "Login / last update"
Since last update no login possible with multiple gmail/google accounts.  Works  fine with PTC account but i pref google acc.  Error is always "wrong login" :/. Thx 4 this great  app btw.

[2016-07-30 07:44] BrianEstrada commented on #169
Do your accounts have two factor authenthication?

On Jul 30, 2016 12:39 AM, "lightnshine1" <notifications@github.com> wrote:

[2016-07-30 07:59] lightnshine1 commented on #169
Yes i think so, need to check it. Do i have to turn it off? Thx for the fast reply.

[2016-07-30 08:02] BrianEstrada commented on #169
Yeah it wont work with two factor anymore you should avoid using a real
account for this use a throw away

On Jul 30, 2016 12:59 AM, "lightnshine1" <notifications@github.com> wrote:

[2016-07-30 08:50] lightnshine1 commented on #169
Ok well created another account and works fine now. But the one i used was also not my main  account. Thanks for the help anywayzzz :).

[2016-07-30 09:04] fonix232 commented on #164
Totally unnecessary. Scanning won't be faster because of that.

[2016-07-30 10:11] X3N0F00B opened #170 "Pokemon not showing up on scanner"
https://goo.gl/maps/2zSKnLZBKeD2

At this spot a pokemon spawns at 6 mins before every hour and it stays there for an hour. Those pokemon never show up in pokescanner, how is this possible?

[2016-07-30 12:50] Hoully111 opened #171 "Scan Fail"
If you turn your phine sideways causing it to go from portrait ti landscape yiur current scan stop's

[2016-07-30 13:35] Hoully111 opened #172 "Servers Not Responding"
Servers Not Responding but ispokemongodowm sais everything is fine

[2016-07-30 15:08] Hoully111 commented on #172
Went back to 1.7.3 works

[2016-07-30 16:01] BrianEstrada commented on #172
PTC or Google?

[2016-07-30 16:11] Hoully111 commented on #172
Google

1.7.3 is working fine

[2016-07-30 16:36] MarcQA commented on #172
Can't log in using a Google account :(

[2016-07-30 21:45] Hoully111 commented on #172
Any update

[2016-07-30 22:36] BrianEstrada commented on #172
Someday...eveenntuualllyyyyy I don't really like pushing updates without testing them so it might be a lil while.

[2016-07-30 22:39] Hoully111 commented on #172
Fair enough just didn't know if the issue waa discovered

[2016-07-30 22:43] BrianEstrada commented on #172
ah yeah the issue is fixed in 1.7.5 It's finished I just neeeed some testing...feel like testing @Hoully111 ?

[2016-07-30 22:44] Hoully111 commented on #172
Sure

[2016-07-30 22:50] BrianEstrada commented on #172
email me lovesguitar@gmail.com

[2016-07-31 01:27] BrianEstrada commented on #170
I don't get any results there either...neither does pokevision sooo?

[2016-07-31 01:27] #169 closed

[2016-07-31 02:29] antibomb commented on #172
stopped working entirely a little while ago.  upon taking the OTA auto-update to 1.7.5 its working much, much better.  just some additional evidence to what you likely already know.

[2016-07-31 02:30] dusktildawn48 opened #175 "Says scan canceled"
when i start it up it takes me to the map but says bad login credentials. then if i try to start a scan it says scan canceled.

[2016-07-31 02:32] JudasRebel commented on #170
Same on me. No pokemons appear on this map. I tried all setting but still no appears.

[2016-07-31 02:34] dusktildawn48 commented on #175
nvm im an idiot.

[2016-07-31 02:38] antibomb commented on #175
did you update to latest version? 1.7.5 working well on my end

[2016-07-31 02:40] antibomb opened #176 "OTA auto-update clears blacklist"
Not sure if intended or not; very minor issue for myself - just re-adding manually.

[2016-07-31 02:40] dusktildawn48 commented on #175
yeah, it also says servers not responding too. restarted my phone, same thing.

[2016-07-31 02:45] dusktildawn48 commented on #175
is ptc having issues? may be working correctly on gmail account

[2016-07-31 02:47] #175 closed

[2016-07-31 03:18] ericwooley opened #177 "Permissions explanations"
My wife won't install the app until she knows why it wants to have access to media.

I know it's FOSS, but it is always nice to know.

Great app by the way! We love it (on my phone)

[2016-07-31 03:19] BrianEstrada commented on #177
Ahaha it's for the auto updater you can always deny the permission on marshmellow it has no affect on the phone!

[2016-07-31 03:21] ericwooley commented on #177
That was quick! Thanks man! Should I close the issue?

[2016-07-31 03:38] #177 closed

[2016-07-31 04:20] BrianEstrada commented on #172
@antibomb thanks for the info

[2016-07-31 04:20] #172 closed

[2016-07-31 04:21] BrianEstrada commented on #163
I'm going to work on this but It's going to be a while just because the way markers are displayed right now needs to be reworked into one class (spread upon 3)

[2016-07-31 04:21] BrianEstrada commented on #163
#21

[2016-07-31 04:21] #163 closed

[2016-07-31 04:21] BrianEstrada commented on #154
Implemented

[2016-07-31 04:21] #154 closed

[2016-07-31 04:24] ericwooley commented on #141
Any idea for a timeline? And are you looking for help with it? My android is a little rusty, but I'm desperate enough that I might be persuaded to pick it back up.

[2016-07-31 04:37] BrianEstrada commented on #141
@ericwooley it's mostly done I'm just reviewing @guiann and it's most likely going to be in 1.8.0

[2016-07-31 05:19] JudasRebel commented on #170
Version before was pretty cool, everithing is fine. But suddenly, the map is gone. Pokemons show up, map hidden. Then I trying this version. No Pokemon.

[2016-07-31 06:33] X3N0F00B commented on #170
I got results on scans but not the one on the spot I pointed out. I checked the spot several times on several versions but the Pokémon on that spot won't show

[2016-07-31 10:39] nikmic94 opened #178 ""Creates black round circle around scanning area""
Should now say red. Simple String fix.

[2016-07-31 11:41] ElySoul commented on #170
after the upgrade, the scanner began to show a much smaller pokémon, this problem will be solved?

I apologize for my English translated through the translator

[2016-07-31 16:14] antibomb commented on #176
Blacklist stayed intact after 1.7.6 auto-update; closing.

[2016-07-31 16:14] #176 closed

[2016-08-01 00:37] FlamingObsidian opened #179 "Please make a web version of this or put it on the app store"
On my Kindle Fire it's hard to install APKs. I would appreciate it if you did this request.

[2016-08-01 01:49] petteri72 opened #180 "Scan range and scan delay need to be adjusted."
Poke scanner currently shows only few pokemons, probably because it has too wide scan radius (Ninantic changed players heartbeat from 100m to 70m) and too low scan delay (there could also have been been change in scan delay for rare pokemons.) .

Pokemon Go Map shows everything if scan radius is tight and scan delay long. Of course this  Is it possible to add heartbeat and scan delay fields to opt

[2016-08-01 01:54] BrianEstrada commented on #180
There are two settings in the app that have been there since 1.3...

[2016-08-01 01:54] #180 closed

[2016-08-01 02:25] gruntlord6 commented on #162
"therefore, the fee to download source may not be greater than the fee to download the binary." You have it backwards, it means you cannot charge more for the source then the binary (The source would be available at the same cost).

[2016-08-01 03:22] jake9000 commented on #179
I can get why the dev wouldn't want to upload to the play store (kinda a grey area app, and account penalties from Google can be devastating).

But an F-droid upload would be rad.

[2016-08-01 04:08] BrianEstrada commented on #179
@jake9000  I've looked up how to submit there but I'm still not 100% sure :(

[2016-08-01 06:54] BrianEstrada commented on #178
@nikmic94 haha you say simple string fix but the app is in 21 diff languages :'(

[2016-08-01 06:55] BrianEstrada commented on #170
@ElySoul yes this should be solved in 1.8.0

[2016-08-01 06:55] #170 closed

[2016-08-01 06:56] #162 closed

[2016-08-01 06:56] BrianEstrada commented on #159
Should be fixed in 1.7.6

[2016-08-01 06:56] #159 closed

[2016-08-01 06:56] BrianEstrada commented on #153
@InstallGentoo11 should probly create a new thread

[2016-08-01 06:58] BrianEstrada commented on #148
Implemented in 1.8.0

[2016-08-01 06:58] #148 closed

[2016-08-01 06:58] BrianEstrada commented on #145
Newest API has been implemented in 1.7.6

[2016-08-01 06:58] #145 closed

[2016-08-01 06:58] BrianEstrada commented on #149
Issue has been fixed in 1.7.6

[2016-08-01 06:58] #149 closed

[2016-08-01 06:59] BrianEstrada commented on #101
I don't think this is an issue anymore (plus I don't want to break a TOS)

[2016-08-01 06:59] #101 closed

[2016-08-01 06:59] BrianEstrada commented on #168
This should be Driving Mode it won't update quickly unless you turn up the map refresh other than that I'm not 100% sure what you're talking about.

[2016-08-01 06:59] #168 closed

[2016-08-01 07:00] #171 closed

[2016-08-01 07:00] BrianEstrada commented on #157
#171

[2016-08-01 07:01] BrianEstrada commented on #179
@FlamingObsidian [Installation Instructions](http://www.technipages.com/kindle-fire-how-to-install-apk-files)

[2016-08-01 07:01] #179 closed

[2016-08-01 07:35] jaydlawrence commented on #162
Along these same lines, I found this paid for version on the Play store that seems to be very similar to yours. Us it a fork?
Is it legal?
https://play.google.com/store/apps/details?id=com.pokescannerplus

[2016-08-01 07:37] BrianEstrada commented on #162
@jaydlawrence definatley not us it's some guy from Arizona (Same guy has uploaded our app 3 or 4 diff times now) trying to make a quick buck.

[2016-08-01 07:40] jaydlawrence commented on #162
Have you guys reported him?
If you guys add yours for free to the play store, hopefully it will
overshadow all the paid for clones?

On Mon, 1 Aug 2016, 08:37 Brian Estrada, <notifications@github.com> wrote:

[2016-08-01 07:46] BrianEstrada commented on #162
@jaydlawrence I don't really want to get into any legal trouble with Niantec so we've avoided going onto the AppStore

[2016-08-01 07:51] BrianEstrada opened #181 "Save Preferences to File"
Ability to save Preferences to a file on the Users phone so they can reload settings across builds.

[2016-08-01 09:02] fonix232 commented on #162
@gruntlord6 I said exactly the same as you did.

@jaydlawrence unfortunately nothing can be done, except reporting them for license violation. GPL allows the sale of someone else's work.

@BrianEstrada while you don't have to upload to the Play Store, you can still report them for GPL violation (it does explicitly state that ALL previous contributor must be credited).

[2016-08-01 09:06] fonix232 commented on #181
Relatively easy.

Create a SettingsHolder class, make it load info from SharedPreferences OR from JSON, and have a method to export the instance as JSON.

Use this SettingsHolder to access your settings. Loading from JSON simply writes to SharedPreferences, writing JSON reads from SharedPreferences, and all getters/setters write to SharedPreferences.

I'll have some time in the afternoon, so I can

[2016-08-01 09:11] NathanWaudby opened #183 "Nearby pokemon issue"
I am getting a constant print out of Nearby pokemon:

But with none listed and none being caught. Anyone else had this? With the most recent release running python 3.5
![image](https://cloud.githubusercontent.com/assets/12086621/17289159/3e7e1712-57d0-11e6-898b-cf1333bb9a24.png)

[2016-08-01 09:11] #183 closed

[2016-08-01 11:11] jehy opened #184 "Pokemons disappear from map on screen rotate"
version 1.7.6 hides all pokemon when rotating screen. Also, "scan" button becomes active once again, you can press it and it launches two scanning processes simultaneously.
Possible fix - force portrait orientation.

[2016-08-01 11:17] jehy opened #185 "Not translated string"
In version 1.7.6 the following options and descriptions are not translatable (not on crowd.in):

1) Enable Low Memory Management
2) Force English names

[2016-08-01 11:32] EZTEQ commented on #185
Will add the new strings to crowdin now.

[2016-08-01 11:33] BrianEstrada commented on #184
Some users are using tablets and this is something that can be fixed on the users side by locking rotation

[2016-08-01 11:33] #184 closed

[2016-08-01 11:34] BrianEstrada commented on #160
This has been implemented in the latest push

[2016-08-01 11:34] #160 closed

[2016-08-01 11:34] BrianEstrada commented on #160
Expect it 1.8.0

[2016-08-01 11:34] BrianEstrada commented on #164
Has been implemented in 1.8.0 check out the alpha for a preview :)

[2016-08-01 11:34] #164 closed

[2016-08-01 11:38] jehy commented on #184
Why close the bug? If you rotate the screen on tablet, application misbehaves... Just choose another fix :)

[2016-08-01 11:45] #185 closed

[2016-08-01 11:45] EZTEQ commented on #185
Everything translatable on crowdin now.

[2016-08-01 12:20] Maufeat opened #186 "ERROR - Crashlytics Developer Tools error"
java.lang.IllegalArgumentException: Crashlytics found an invalid API key: null.

-> my question, where to get a Key and where to place it?

[2016-08-01 13:02] BrianEstrada commented on #186
[code]

Comment out this line

[2016-08-01 13:02] #186 closed

[2016-08-01 14:19] Hoully111 commented on #148
Where is 1.8.0 available

[2016-08-01 14:31] BrianEstrada commented on #148
Check the subreddit its stickied

[2016-08-01 16:39] JudasRebel opened #187 "Adding option to change Pokemon Server"
I have small problem and high ping to acces US and EU server. Because I play preofficial pokemon in my country in Asia Pasific.
Can we change to Australia server or Japan server while we using Pokescan apps?
Thanks before. :)

[2016-08-01 17:19] rhari991 commented on #187
This is not possible on our end, it is Niantec who decides which server to connect to. It seems it does not pick using regional preferences.

[2016-08-01 17:19] #187 closed

[2016-08-01 18:36] StephanBijzitter commented on #153
You can also download your region from the Google Maps app and use it offline, which also saves a lot of data.

[2016-08-01 21:08] j0be commented on #163
Haha, well, I actually was meaning a method to find stops that are all within scanning range in game. Basically locations that have high density of pokemon stops, but yeah, display too. :P

[2016-08-01 21:16] j0be commented on #168
@BrianEstrada, it is there already.

[2016-08-01 22:08] robert862 opened #189 "Use multiple accounts to boost scan performance (why was scan performance reduced?)"
Using 2 or even more accounts in parallel would increase the speed of scan.
and why was the scan delay increased in 1.7.6?

Using the old version I need about 8 Minutes to scan a radius of 1 mile. If it is even more now, most pokemon will be gone by the end of the scan, as the last for about 10-15 minutes?!

[2016-08-01 22:23] dwk001 commented on #160
How can I get into the alpha?

[2016-08-01 22:30] BrianEstrada commented on #189
This is already a feature in 1.8.0 check the beta thread on reddit.

[2016-08-01 22:30] #189 closed

[2016-08-01 23:05] kevinjojo007 opened #191 "Suggestion: Arena scores in large region"
Actually, all arenas have they own prestige points.

As i can see in the App, we can see the points.
How about adding all prestige points of an area (like Ingress clusters) and see which tram have the biggest score.

[2016-08-02 03:19] Lionir opened #192 "[Suggestion] Multiple account support"
Having multiple accounts to scan an area would make scanning much faster than it's current state while still respecting the 5-5.5seconds delay imposed by the server. This would be great if it could be implemented. Thank you for the amazing work.

[2016-08-02 04:26] pompobit opened #193 "Credits for shuffle icons"
I'm planning to use your pokemons sprites in my app, so I would credit the author and/or the source.
Where they come from?

[2016-08-02 05:54] Lionir opened #194 "[Question] Major Lag"
Scanning New York is nearly impossible due to immense lag and I have a fairly new device (LG G3). Would it be possible to have an option to replace all picture with lower resolution ones and save all images into cache to make it slightly faster? I'm not sure how exactly we'd be able to make lag as minimal as possible while showing all the information needed. I think that hiding the time left befor

[2016-08-02 05:58] Lionir commented on #194
Also, why does it look for Pokestops much farther than the scanned area?

[2016-08-02 06:39] rhari991 commented on #192
This has been implemented in in the v1.8 alpha. You can try it out from the subreddit.

[2016-08-02 06:39] #192 closed

[2016-08-02 07:24] BrianEstrada commented on #194
Lionir that's just how the API works, look at the game you can see gyms much further than you can see pokemons. I'd rcommend disabling Gyms and Pokestops if you are having lag. And you can down size the pokemon icons.

The issue is with the Google Maps API doesn't like having multiple markers.

[2016-08-02 07:27] BrianEstrada commented on #153
Implemented in the latest version! Expect to see No map mode in 1.8.0 alpha 003!

[2016-08-02 07:27] #153 closed

[2016-08-02 09:01] Lionir commented on #194
@BrianEstrada Could there be an option to not show Pokestops/Gyms which are outside of the scanning since they create a lot of markers therefore creating lag for absolutely no reason? Downsizing the icon would just make the marker look smaller from what I know and I've already set it as small as I can due to personal preferences.

[2016-08-02 09:29] nivlacc opened #195 "Scan Rare pokemons problem"
Before the pokemon go updated i can scan a lot of rare pokemons around my house  (at least 1-2hours has one )

after the update i spend whole day to scan the rare pokemons, but it doesn't  show anything (maybe 8 hours has one rare pokemon)

when i scan common  pokemons it works

do u know whats going  on ?    are they decrease the rare pokemons spawn rate?

[2016-08-02 09:35] BrianEstrada commented on #194
@Lionir Currently right now it's only rendering whats in your view so zooming in should help with whatever lag you're having I suggest using filters to see what pokemon you want to see other than that there is no real solution to this other than Implementing Clusters (Which is planned)

[2016-08-02 09:35] #194 closed

[2016-08-02 09:35] BrianEstrada commented on #193
Shuffle icons are from Pokemon Shuffle

[2016-08-02 09:35] #193 closed

[2016-08-02 09:58] Lionir commented on #194
@BrianEstrada What would implementing Clusters do?

[2016-08-02 09:59] BrianEstrada commented on #194
Less Objects -> Less Lag

Read up here it isn't an issue with our app unfortunately.

http://stackoverflow.com/questions/13713066/google-maps-android-api-v2-very-slow-when-adding-lots-of-markers

[2016-08-02 09:59] Lionir commented on #192
@rhari991 Oh, It should be published here too. It'd be accessible to more people.

[2016-08-02 11:58] StephanBijzitter commented on #195
Niantic has modified a lot of spawns.

In my own city, there's also significantly less rare/very rare pokemon. It's just how it is...

[2016-08-02 13:56] j0be commented on #160
https://www.reddit.com/r/PokeScanner/comments/4vmai5/v180_alpha_build_002/

[2016-08-02 13:59] j0be commented on #192
https://www.reddit.com/r/PokeScanner/comments/4vmai5/v180_alpha_build_002/

Since it isn't an official release yet, it will not show in the list of  releases.

[2016-08-02 14:00] j0be commented on #195
Sadly, @StephanBijzitter is right. I had been planning on going out to my local Lickitung spawn, but then the update happened. :/

[2016-08-02 14:13] cadaxx opened #196 "can't see any pokemon"
Hello, someone have the same problem? I have no pokmon on my map, i scanned many times in different locations but its still the same stuff. Pls help me :D

[2016-08-02 16:54] BrianEstrada commented on #196
sorry this is the wrong place for support. If you're looking for help check out this thread.

https://www.reddit.com/r/PokeScanner/comments/4vrdon/help_thread_commonly_asked_questions/

[2016-08-02 16:54] #196 closed

[2016-08-02 18:44] Farigh opened #197 "Hide catched pokemon"
It would be nice to be able to hide a specific instance of a pokemon once you've catched it.

[2016-08-02 19:49] neutron666 opened #198 "Multiple Accounts"
Please add support for multiple ptc accounts. Let each account have a own Thread. This would dramatically increase scanning speed.

[2016-08-02 20:04] BrowncoatShadow commented on #198
This is already in the 1.8.0 alpha; see the [thread](https://www.reddit.com/r/PokeScanner/comments/4vmai5/v180_alpha_build_002/) on the sub.

However, on the subject of multiple accounts, in 1.8.0, we currently have to enter each account in manually (username and password). It would be great if we could import en masse with something like:

[code]

This would allow us to easily import multiple acc

[2016-08-02 20:05] Farigh commented on #198
Would be great to be able to add google accounts to the manager, PTC login is often down

[2016-08-02 20:09] BrowncoatShadow commented on #198
@Farigh The problem with using multiple google accounts for multiboxing is the authorizations only last 30 minutes, meaning you would have to sign in to each account again every half hour.

[2016-08-02 20:43] wtfusernametaken opened #199 "scan time so long?"
ist takes like 2 minutes on a level 4 scan and finds about 2 pokemon.

is that really normal? why is it so slow? o.O

oh and sometimes i scan a new area, and it finds some pokemon, then i scan the area again like 2 min later and suddenly it shows a pokemon like eevee with 3 min left or so. why doesnt it appaear on the first scan?

[2016-08-02 21:25] Borech opened #200 "Notifications"
Please notifications
Push
Vibrated
And sound
Thanks

[2016-08-02 21:44] BrianEstrada commented on #200
This
Has
Already
Been
Submitted
Read
Before
You
Post

[2016-08-02 21:44] #200 closed

[2016-08-02 21:49] rhari991 commented on #199
Read the comments on the subreddit
https://www.reddit.com/r/PokeScanner/
before you ask here.

[2016-08-02 21:49] #199 closed

[2016-08-02 21:51] #195 closed

[2016-08-02 21:52] #198 closed

[2016-08-02 21:52] BrianEstrada commented on #198
Closing this because it is already in 1.8.0

[2016-08-02 21:53] BrianEstrada commented on #155
Truthfully I don't think we plan on supporting older devices simply because they won't be able to handle the application sorry!

[2016-08-02 21:53] #155 closed

[2016-08-02 22:11] ishti10 opened #201 "minimum_scan_refresh is now 10s"
We should add a UI option to change minimum scan refresh time per account, to keep up with minimum scan refresh updates

[2016-08-02 22:31] j0be commented on #197
Settings > Pokemon Blacklist

[2016-08-02 22:34] j0be commented on #201
Sigh. :'(

https://www.reddit.com/r/pokemongodev/comments/4vuijn/psa_minimum_scan_refresh_now_10s/

[2016-08-02 22:53] j0be commented on #201
It's easy to update this to 10 seconds, but I'll look into a more foolproof method of obtaining the delay time.

[2016-08-03 02:34] Lionir opened #203 "[Suggestion] Circle identified by accounts."
The ability to see which circle is being scanned by which account. This would make account troubleshooting much easier.

[2016-08-03 05:23] jccompagnon opened #204 "wide area range search fro gym level"
It would be nice to be able to search for gyms of my team in the area that have space available.
like level 3 with CP 4000

Also be able to search for gyms >= than level 8 for example.

great app.
Thanks

[2016-08-03 07:08] BrianEstrada commented on #201
@j0be sounds good :+1:  :)

[2016-08-03 07:28] chilimanjaro commented on #203
Different color instead of read randomly assigned to each account would be easy to distinguish.

[2016-08-03 07:31] chilimanjaro commented on #197
Long press on a Pokemon. It will disappear for a map.

[2016-08-03 07:40] ecl1ps opened #205 "Distance to pokemon"
I would like to propose new feature.

It would be nice to see a distance to pokemon. It is sometimes quite difficult to judge it just from map. Pokemon details tooltip could be the right place. And maybe somehow distinguish pokemon in visible range (70m).

Thanks

[2016-08-03 07:49] ecl1ps opened #206 "Null in address"
Sometimes the second part of the address (I guess city) in pokemon details tooltip is null. It looks something like "Street 123, null". Null check should be enough.

Thanks

[2016-08-03 08:01] jatinhariani opened #207 "Expiration timer has 30min added to it."
On the map, timers show up with values between 30:00-45:00. Pokemon expire and disappear at 30:00.

[2016-08-03 08:03] Farigh commented on #197
Ho nice trick thanks. Sry for the dummy grammar error

[2016-08-03 08:16] BrianEstrada commented on #207
This has been fixed in 1.8.0 Alpha 003

[2016-08-03 08:16] #207 closed

[2016-08-03 08:17] BrianEstrada commented on #205
I don't think we'll be adding any more graphics to the main maps area due to the fact that it's already killing lowerend devices and even higher end devices If you want to see range Listmode has range and the newest version of Listmode (alpha 003 not out yet) has improved upon that feature.

[2016-08-03 08:17] #205 closed

[2016-08-03 08:18] BrianEstrada commented on #206
I think this happens because the geocoder is failing if it's happening consistently I'd restart your phone but yes you are right we should have a null check for that!

[2016-08-03 08:19] #197 closed

[2016-08-03 08:19] #178 closed

[2016-08-03 08:32] rhari991 commented on #207
nice to see another indian here :)

[2016-08-03 09:15] MWin123 opened #208 "Scan preview circle / hexagon"
Was the preview circle removed? I turned it on under Map Settings and it only shows a hexagon after I press the scan button.

I would rather have it visible all the time. Makes it much easier to choose your scan radius and area. Centering the map isn't very accurate without the circle or hexagon.

[2016-08-03 09:19] MWin123 opened #209 "Enable PTC import from file"
I'm running 10 PTC accounts and it takes a while to add them with a password manager. Importing them from a CSV file would be nice.

[2016-08-03 09:25] Lionir commented on #192
@j0be I think Betas and Alpha apks should also be published here to make it easier to find them from a trusted source.

[2016-08-03 09:50] jatinhariani commented on #207
Built the latest source code. Can confirm that this has been fixed. Thanks.

[2016-08-03 09:54] Lionir opened #210 "[Suggestion/Question] Show pokemons which haven't spawned."
Pokemap was able to show pokemons which hadn't spawned. Is this still possible to do? And if so, this would be a great feature :)

[2016-08-03 10:07] jatinhariani opened #211 "Crash on Misc Settings"
Reporting from a build from master branch:

[code]

Could be nothing. Putting this here in case it is of any help.

[2016-08-03 10:46] jatinhariani opened #212 "+30m bug still present on lured pokemon"
Lured pokemon still spawn at 33:00 and disappear at 30:00.
Normal pokemon seem proper.
Using app built from source.

[2016-08-03 10:51] jatinhariani commented on #212
Could look into it myself if you point out the commit that did the fix for other pokemons

[2016-08-03 10:54] ecl1ps commented on #205
Well, not on main map. By "pokemon tooltip" I was referring to popup box which shows when you click on pokemon icon on map. That way you wouldn't be adding more elements to map.

Distinguishing visible pokemon on map is another thing. My first idea was to change pokemon "time left" background color to green (or something). You are already doing it for lured pokemon (purple). It wouldn't add anythi

[2016-08-03 15:12] Bdwipa opened #214 "Update"
Please update for jelly bean

[2016-08-03 15:16] BrianEstrada commented on #212
It's okay It's a single line fix I'll be uploading it shortly

[2016-08-03 15:55] #212 closed

[2016-08-03 15:58] BrianEstrada commented on #211
I had this error too, I'm pretty sure it should be fixed now.

[2016-08-03 15:58] #211 closed

[2016-08-03 16:00] BrianEstrada commented on #210
You're going to have to clarify what you mean.

[2016-08-03 16:34] Lionir commented on #210
@BrianEstrada Well, we would be able to see pokemons which haven't spawned yet.
This is how they had done it if you wanna take a look.

https://github.com/omkarmoghe/Pokemap/commit/4ef213392c1c4d6420ca1d7a3e8d8104e00cb413

[2016-08-03 17:55] Delloman commented on #209
I have 30 ptc please add also will it load them from alpha 02 to 03?

[2016-08-03 17:58] Delloman commented on #203
Account number on each circle

[2016-08-03 18:41] Lionir commented on #203
@BrianEstrada Delloman's idea sounds better than using colors.

[2016-08-03 18:44] BrianEstrada commented on #203
@Delloman it's a good idea it just isn't feasible to implement, we would have to take the marker turn it into a bitmap or canvas and draw a number over it (which is CPU intensive at least for older devices)

[2016-08-03 18:56] Delloman commented on #203
To bad  it  would make trouble shooting easy

[2016-08-03 18:58] Lionir commented on #203
@BrianEstrada Could there be an option in the settings which allow to use numbers instead of colors to identify accounts?

[2016-08-03 19:06] BrianEstrada commented on #209
@Delloman most likely not but hopefully...we're adding this feature for the next release so you can import CSV/or JSON we will post the format online before the release.

[2016-08-03 19:46] #203 closed

[2016-08-03 19:47] BrianEstrada commented on #208
It's still there...I'm using the latest build and its working fine.

[2016-08-03 19:47] #208 closed

[2016-08-03 19:49] andibuch opened #215 "Crash After Multiple Searches Using Large # Of Accounts"
I'm having a crash occur for new that I wanted to bring to your attention before you push out an official 1.8.0

This seems to occur on both the alpha that you posted to the sub, as well as an unofficial me recent build of the alpha that was posted earlier today

The crash occurs when I've configured a lot of accounts. I've been playing with 19 and 37 accounts, as these are the optimal account for

[2016-08-03 19:54] andibuch opened #216 "Ring Guide Disappeared"
Wanted to call this to your attention too:

In the latest build I played with earlier today, the ring that would appear around the center of your screen as a guide to the area that will be searched once the search was initiated was gone

This made it very difficult to figure out reliably what area I would be scanning before clicking the scan button.

Granted, it would appear (as a hexagon) once pr

[2016-08-03 19:55] BrianEstrada commented on #215
yeah the crash is related to the database it isn't meant to handle that many connections.

[2016-08-03 20:04] andibuch commented on #215
Is there a simple way to modify the database to account for large numbers
of connections before the release?

If not, what would you say is the maximum number of connections recommended
at the moment to avoid these crashes?

On Aug 3, 2016 3:55 PM, "Brian Estrada" <notifications@github.com> wrote:

yeah the crash is related to the database it isn't meant to handle that
many connections.

—
You are

[2016-08-03 20:04] MWin123 commented on #216
I have the same problem with an earlier build. See #208

I'll build the latest one and check again.

[2016-08-03 20:20] BrianEstrada commented on #215
somewhere between 20 and 30...and no from what it looks like there is not an easy way :/

[2016-08-03 20:21] #216 closed

[2016-08-03 20:26] dusktildawn48 commented on #215
hey brian, im not having this same issure, but didnt feel like it needed its own issure. under account manager all my accounts are just loading. they are all ptc

[2016-08-03 20:37] jatinhariani opened #218 "No pokemon showing up"
Not a PokeScanner issue to be fair.
https://www.reddit.com/r/pokemongodev/comments/4w0jum/all_ptcgoogle_logins_failing_from_api/

[2016-08-03 20:39] BrianEstrada commented on #215
^ Click on the refresh button to the top right

[2016-08-03 20:40] andibuch commented on #215
Hmmm... the crash seems to happen to me on 19 accounts too, though, just less frequently

[2016-08-03 20:41] andibuch commented on #215
Is there a way for me to get crash logs to you?  Would that be helpful?  I'm new to developing / debugging on android, but am tech savy with a history doing QA at game companies, so I'd be happy to help

[2016-08-03 20:43] BrianEstrada commented on #218
It isnt even an api issue ptc is just down

http://i.imgur.com/7oZAWE5.png

[2016-08-03 20:46] rhari991 commented on #215
This project has crashlytics installed, so whenever the app crashes on any phone, the crash report is sent to us. So no worries :)

[2016-08-03 20:54] jomarocas commented on #215
The project no working maybe recently niantics force me update the app and in other github issue related with new update and maybe the api changes in niantic, for update the api

[2016-08-03 20:55] DarkCodedDragon commented on #218
I am having same issue with google login

[2016-08-03 20:56] jomarocas commented on #218
read first related issue https://github.com/BrianEstrada/PokeScanner/issues/215

[2016-08-03 20:56] bighero420 commented on #218
I'm in Louisiana, and mine is doing the same. Every now and it says scan cancelled.

[2016-08-03 21:08] bighero420 commented on #218
Nothing is popping up not even poke stops or gyms.

[2016-08-03 21:10] DarkCodedDragon commented on #218
think its same for everyone

[2016-08-03 21:18] jomarocas commented on #218
ok to everybody that no working. Niantic update the app and It seems like we can only send a request every 10 sec, only wait while the creator update the app

[2016-08-03 21:22] DarkCodedDragon commented on #218
Are you using ptc login jomarocas , I waited like 10 min to rescan and it still failed to find anything using google login.

[2016-08-03 21:26] jomarocas commented on #218
@DarkCodedDragon google login work good but no working for now scan pokemon

[2016-08-03 21:30] HuXu77 commented on #218
MapObjects change, login still works, its getting MapObjects fails.

[2016-08-03 21:31] DarkCodedDragon commented on #218
That's what I was trying to say Login is fine but NIA did something on server side based on API . Would be nice if they put this much work into fixing there own 3 step issue.

[2016-08-03 21:34] MWin123 commented on #218
@jomarocas That's old news and the recent commits already fixed that.

This might be the problem: https://github.com/AeonLucid/POGOProtos/issues/131

[2016-08-03 22:05] BrianEstrada commented on #218
ah yeah the issue seems to be with the protos -_- my apologies I forgot that, that website is based out of the API....we'll see what happens.

[2016-08-03 22:06] #201 closed

[2016-08-03 22:17] j0be commented on #210
Hrm. So negative expirations are future spawns?

[2016-08-03 22:33] Lionir commented on #210
@j0be From what I understood, it appears so. I'm unsure about it though. You should probably ask the one who's made this change.